@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300');
*{
    margin:.0;
    padding:.0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
html{
    scroll-behavior: smooth;
}
.nav{
    background-color: grey;
    
}
.nav #item{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    
}
.nav #item li{
    
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    
}
.nav #item li a{
    font-style: bold;
    color: aliceblue;
    text-decoration: none;
}
.nav #item li a:hover{
    color: aqua;
}
.bod {
     

}